<!DOCTYPE html>
<html>
<body>

<p></p>
{% if user.is_authenticated %}

    <p>Currently logged in as: {{ user.username }}</p>
    <br>
    <a href="/messaging/private/{{ user.id }}">Go to private chats:</a>
    <br>
    <p>Add a new message:</p>
    <form action='/messaging/' method="POST">
        {% csrf_token %}

        <input type="text" name="mymessage"/><br/>
        <input type="submit" value="Send"/>
    </form>

    

{% else %}
    <p>You are currently not logged in</p>

{% endif %}


{% for a in messages %}
<br>        
		<li> <b>From: {{a.user}}</b>
            <br>
            {{a.text|safe}}
            <!-- should be just {{a.text}}. now it allows javascript and html <pstyle="color:red;">Red</p>  -->
		</li>

		{% endfor %}
		</ul>

</body>
</html>
